/* HEADER */

#header {
    display: flex;
    align-items: center;
    /* Vertical align the elements to the center */
    justify-content: space-between;
    margin-right: 10px;
}

#help-title {
    font-weight: 500;
}

#button-open-help {
    background-color: #006f92;
    margin-left: auto;
    font-size: medium;
    /* Push this element to the right */
}

#button-close-help {
    background-color: #006f92;
    font-size: medium;
    /* Push this element to the right */
}

/* TABS */

.custom-tabs-container {
    width: 85%;
}

.custom-tabs {
    border-top-left-radius: 3px;
    background-color: #f9f9f9;
    padding: 0px 24px;
    border-bottom: 1px solid #d6d6d6;
}

.custom-tab {
    color: #586069;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-top: 0.25px solid lightgrey !important;
    border-left: 0.125px solid lightgrey !important;
    border-right: 0.125px solid lightgrey !important;
    border-bottom: 0px !important;
    background-color: #fafbfc;
    padding: 12px !important;
    /* font-family: "system-ui"; */
    display: flex !important;
    align-items: center;
    justify-content: center;
}

.custom-tab--selected {
    color: black;
    box-shadow: 1px 1px 0px white;
    border-left: 1px solid lightgrey !important;
    border-right: 1px solid lightgrey !important;
    border-top: 4px solid #006f92 !important;
}